html {
	width: 100%;
	width: 100%;
	background: #DBDBDB;
}

main {
	margin: auto;
	width: 60%;
	padding: 1%;
	border: solid 1px;
}
table {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

img {
    display: block;
    margin-left: auto:
    margin-right:auto;
}

img.bamboo {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 62%;
	opacity: .7;
	padding-bottom: 1%;
	height: auto;
}

.firstpage {
	position: absolute;
	background:rgba(255,255,255,0.5);
	left: 50%;
	top: 20%;
	padding: 1rem;
	color:black;
	text-align: center;
	transform: translate(-50%, -50%);
	font-variant: small-caps;
	font-size: 2em;
}

.center2 img {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: auto;
}

footer {
	margin: auto;
	width: 60%;
	padding: 1%;
}

a:hover {
	color: red;
}

a:visited {
	color: orange;
}

#showcontent {
	position: absolute;
	width: 100%;
}

@media screen and (max-width: 800px) {
     #showcontent {display: block;}
 }

 @media screen and (min-width: 800px) {
     #showcontent {display: none;}
 }

 @media screen and (max-width: 800px) {
     .firstpage {font-size:80%;
     			 top: 6%;}
  }
}